$body-bg: #f8fafc;

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

body {
    background-color: $body-bg;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.x-app-layout > .d-flex {
    flex: 1;
}

.logo {
    width: 35px;
}

.infoCheck {
    margin-bottom: 1.5%;

    img {
        width: 20px;
        margin-right: 10px;
    }
}

.video {
    text-align: center;
    margin-top: 2.5%;
}

.video img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}

.apresentationMain,
.contactMain {
    flex: 1;
    min-height: 100vh;
    color: white;
    padding: 2%;
}

.apresentationMain {
    background-color: rgb(0, 21, 143);
}

.contactMain {
    background-color: rgb(0, 52, 163);
}

.footer, .footer div{
    background-color: #fff;
}

.messageMain{
    height: 100px;
}

.about section{
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.about header{
    padding-top: 6rem + 3.5rem;
    padding-bottom: 6rem;
}

.footerProvider{
    margin-top: 30px;
}


